parameters:
    level: max
    paths:
        - src/
        - tests/
    memory_limit: 256M
    bootstrapFiles:
        - %rootDir%/../../autoload.php 
    
    checkUninitializedProperties: true
    inferPrivatePropertyTypeFromConstructor: true
    
    ignoreErrors:
        - '#Property .* has no type specified#'
        - '#Property .* is never read, only written#'
        - '#Method .* has no return type specified#'

    

    
    